

<div class="modifier-class trailer-2 js-tab-group">
  <nav class="tab-nav">
    <a class="tab-title is-active js-tab">iOS</a>
    <a class="tab-title js-tab">Android</a>
    <a class="tab-title js-tab">Windows</a>
  </nav>
  <section class="tab-contents">
  	<article class="tab-section js-tab-section is-active">
      <iframe width="100%" src="{{include.ios_url}}" height="{{include.height}}" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
    </article>
     <article class="tab-section js-tab-section">
      <iframe width="100%" src="{{include.android_url}}" height="{{include.height}}" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
    </article>
    <article class="tab-section js-tab-section">
      <iframe width="100%" src="{{include.windows_url}}" height="{{include.height}}" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
	</article>
  </section>
</div>
