

<div class="modifier-class trailer-2 js-tab-group">
  <nav class="tab-nav">
    <a class="tab-title is-active js-tab">iOS</a>
    <a class="tab-title js-tab">Android</a>
    <a class="tab-title js-tab">Windows</a>
  </nav>
  <section class="tab-contents">
  	<article class="tab-section js-tab-section is-active">
      <img class="invision-image" src="{{include.ios_url}}" alt="{{include.alt}}">
    </article>
     <article class="tab-section js-tab-section">
      <img class="invision-image" src="{{include.android_url}}" alt="{{include.alt}}">
    </article>
    <article class="tab-section js-tab-section">
      <img class="invision-image" src="{{include.windows_url}}" alt="{{include.alt}}">
	 </article>
  </section>
</div>
