

      <!-- Main Navigation -->
      <header class="top-nav">
        <div class="grid-container">
          <div class="column-24">
            <!-- logo / home -->
            <a href="index.html" class="top-nav-title"><img src="images/esri-logo.svg"></a>
            <!-- user specific dropdowns -->
            <nav class="top-nav-list right" role="navigation" aria-labelledby="usernav">
              
              <!-- <a class="top-nav-link" href="doc-template.html">Products</a> -->
               {% for entry in site.data.topnav.topnav %}
                {% for item in entry.items %}
                {% if item.external_url %}
                 <a href="{{item.external_url}}" target="_blank">{{item.title}}</a>
                {% elsif page.url contains item.url %}
                 <a class="top-nav-link active" href="{{item.url | remove: "/"}}">{{item.title}}</a>
                {% else %}
                 <a class="top-nav-link" href="{{item.url | remove: "/"}}">{{item.title}}</a>
                {% endif %}
                {% endfor %}
                {% endfor %}

                {% for entry in site.data.topnav.topnav_dropdowns %}
                {% for folder in entry.folders %}
                <div class="dropdown js-dropdown margin-left-1">
                    <a class="top-nav-link js-dropdown-toggle margin-right-1" tabindex="0" aria-haspopup="true" aria-expanded="false" href="#">Products <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 -10 32 40" class="svg-icon"><path d="M28 9v5L16 26 4 14V9l12 12L28 9z"/></svg></a>
                    <nav class="dropdown-menu dropdown-right" role="menu">
                        {% for folderitem in folder.folderitems %}
                        {% if folderitem.external_url %}
                        <a href="{{folderitem.external_url}}" target="_blank">{{folderitem.title}}</a>
                        {% else %}
                        <a class="dropdown-link" href="{{folderitem.url | remove: "/"}}">{{folderitem.title}}</a>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
                {% endfor %}
            </nav>
          </div><!-- /.column-24 -->
        </div><!-- /.grid-container -->
      </header>




