{% if page.sidebar == "collector_sidebar" %}
{% assign sidebar = site.data.sidebars.collector_sidebar.entries %}

{% elsif page.sidebar == "dashboard_sidebar" %}
{% assign sidebar = site.data.sidebars.dashboard_sidebar.entries %}

{% elsif page.sidebar == "explorer_sidebar" %}
{% assign sidebar = site.data.sidebars.explorer_sidebar.entries %}

{% elsif page.sidebar == "icons_sidebar" %}
{% assign sidebar = site.data.sidebars.icons_sidebar.entries %}

{% elsif page.sidebar == "navigator_sidebar" %}
{% assign sidebar = site.data.sidebars.navigator_sidebar.entries %}

{% elsif page.sidebar == "patterns_sidebar" %}
{% assign sidebar = site.data.sidebars.patterns_sidebar.entries %}

{% elsif page.sidebar == "workforce_mobile_sidebar" %}
{% assign sidebar = site.data.sidebars.workforce_mobile_sidebar.entries %}

{% elsif page.sidebar == "workforce_web_sidebar" %}
{% assign sidebar = site.data.sidebars.workforce_web_sidebar.entries %}

{% endif %}

