<!DOCTYPE html>
<head>
    {% include head_calcite.html %}
</head>
<body>
  <body class="landing">
    <div class="wrapper">

      <!-- Main Navigation -->
      {% include topnav.html %}
 



      <!-- top navigation -->
      <div class="grid-container splash-box">
        <div class="column-12 pre-6 landing-info">
          <h1 class="trailer-1">App Design</h1>
          <a href="collector_overview.html"><span class="app-icon-link inline-block font-size--3 margin-right-2"><img src="./images/Collector-SQ.svg"><br>Collector</span></a>
          <a href="dashboard_overview.html"><span class="app-icon-link inline-block font-size--3 margin-right-2"><img src="./images/Operations-Dashboard-SQ.svg"><br>Dashboard</span></a>
          <a href="explorer_overview.html"><span class="app-icon-link inline-block font-size--3 margin-right-2"><img src="./images/Explorer-SQ.svg"><br>Explorer</span></a>
          <a href="navigator_overview.html"><span class="app-icon-link inline-block font-size--3 margin-right-2"><img src="./images/Navigator-SQ.svg"><br>Navigator</span></a>
          <a href="workforce_mobile_overview.html"><span class="app-icon-link inline-block font-size--3"><img src="./images/Workforce-SQ.svg"><br>Workforce</span></a>
          <p class="font-size-1">Design deliverables for esri's flagship applications.</p>
        </div>
      </div>












    </div><!-- /.wrapper -->

    <!-- get calcite-web js from the cdn (use latest version) -->
    <script src="https://s3-us-west-1.amazonaws.com/patterns.esri.com/files/calcite-web/1.0.0-beta.36/js/calcite-web.min.js"></script>

    <!-- interactive patterns need to be initialized -->
    <script>
       calcite.init()
    </script>
  </body>
{% if site.google_analytics %}
{% include google_analytics.html %}
{% endif %}
</html>